RegistrationWeb/RegistrationWeb.Client/Service References/RegistrationServiceReference/RegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/registrationdataservice/RegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/registrationdataservice/RegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/registrationdataservice/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrationApp.DataClient.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrationService_RegisterForCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_RegisterForCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_HoldCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:HoldCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_HoldCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:HoldCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_DropCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DropCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_DropCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListStudentSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStudentSchedule" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListStudentSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStudentScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistrationService">
    <wsdl:operation name="RegisterForCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/RegisterForCourse" message="tns:IRegistrationService_RegisterForCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/RegisterForCourseResponse" message="tns:IRegistrationService_RegisterForCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoldCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/HoldCourse" message="tns:IRegistrationService_HoldCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/HoldCourseResponse" message="tns:IRegistrationService_HoldCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/DropCourse" message="tns:IRegistrationService_DropCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/DropCourseResponse" message="tns:IRegistrationService_DropCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListStudentSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListStudentSchedule" message="tns:IRegistrationService_ListStudentSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListStudentScheduleResponse" message="tns:IRegistrationService_ListStudentSchedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistrationService" type="tns:IRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterForCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/RegisterForCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoldCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/HoldCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/DropCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStudentSchedule">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListStudentSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="BasicHttpBinding_IRegistrationService" binding="tns:BasicHttpBinding_IRegistrationService">
      <soap:address location="http://localhost/registrationdataservice/RegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>