RegistrationWeb/RegistrationWeb.Client/Service References/RegistrationServiceReference/RegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/registrationdataservice/RegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/registrationdataservice/RegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/registrationdataservice/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrationApp.DataClient.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrationService_RegisterForCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_RegisterForCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_HoldCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:HoldCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_HoldCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:HoldCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_DropCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DropCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_DropCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListStudentSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStudentSchedule" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListStudentSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStudentScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListStudentBookmarks_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStudentBookmarks" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListStudentBookmarks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStudentBookmarksResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStudents" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCourses" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListCourseInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCourseInformation" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListCourseInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCourseInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ScheduleCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ScheduleCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CancelCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CancelCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ModifyCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ModifyCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListEnrolledStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:ListEnrolledStudents" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListEnrolledStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListEnrolledStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSchedules" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPeople" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListOpenCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOpenCourses" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListOpenCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOpenCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListFullCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFullCourses" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListFullCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFullCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_RemoveStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudent" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_RemoveStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListCourseSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCourseSchedule" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListCourseSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCourseScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetCourseSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseSchedule" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetCourseSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedule" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDepartments" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ListDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDepartmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistrationService">
    <wsdl:operation name="RegisterForCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/RegisterForCourse" message="tns:IRegistrationService_RegisterForCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/RegisterForCourseResponse" message="tns:IRegistrationService_RegisterForCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoldCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/HoldCourse" message="tns:IRegistrationService_HoldCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/HoldCourseResponse" message="tns:IRegistrationService_HoldCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/DropCourse" message="tns:IRegistrationService_DropCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/DropCourseResponse" message="tns:IRegistrationService_DropCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListStudentSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListStudentSchedule" message="tns:IRegistrationService_ListStudentSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListStudentScheduleResponse" message="tns:IRegistrationService_ListStudentSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListStudentBookmarks">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListStudentBookmarks" message="tns:IRegistrationService_ListStudentBookmarks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListStudentBookmarksResponse" message="tns:IRegistrationService_ListStudentBookmarks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListStudents" message="tns:IRegistrationService_ListStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListStudentsResponse" message="tns:IRegistrationService_ListStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListCourses" message="tns:IRegistrationService_ListCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListCoursesResponse" message="tns:IRegistrationService_ListCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetStudent" message="tns:IRegistrationService_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetStudentResponse" message="tns:IRegistrationService_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCourseInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListCourseInformation" message="tns:IRegistrationService_ListCourseInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListCourseInformationResponse" message="tns:IRegistrationService_ListCourseInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ScheduleCourse" message="tns:IRegistrationService_ScheduleCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ScheduleCourseResponse" message="tns:IRegistrationService_ScheduleCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/CancelCourse" message="tns:IRegistrationService_CancelCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/CancelCourseResponse" message="tns:IRegistrationService_CancelCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ModifyCourse" message="tns:IRegistrationService_ModifyCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ModifyCourseResponse" message="tns:IRegistrationService_ModifyCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListEnrolledStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListEnrolledStudents" message="tns:IRegistrationService_ListEnrolledStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListEnrolledStudentsResponse" message="tns:IRegistrationService_ListEnrolledStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListSchedules" message="tns:IRegistrationService_ListSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListSchedulesResponse" message="tns:IRegistrationService_ListSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListPeople" message="tns:IRegistrationService_ListPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListPeopleResponse" message="tns:IRegistrationService_ListPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOpenCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListOpenCourses" message="tns:IRegistrationService_ListOpenCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListOpenCoursesResponse" message="tns:IRegistrationService_ListOpenCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListFullCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListFullCourses" message="tns:IRegistrationService_ListFullCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListFullCoursesResponse" message="tns:IRegistrationService_ListFullCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/AddStudent" message="tns:IRegistrationService_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/AddStudentResponse" message="tns:IRegistrationService_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/RemoveStudent" message="tns:IRegistrationService_RemoveStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/RemoveStudentResponse" message="tns:IRegistrationService_RemoveStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCourseSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListCourseSchedule" message="tns:IRegistrationService_ListCourseSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListCourseScheduleResponse" message="tns:IRegistrationService_ListCourseSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetCourseSchedule" message="tns:IRegistrationService_GetCourseSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetCourseScheduleResponse" message="tns:IRegistrationService_GetCourseSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetSchedule" message="tns:IRegistrationService_GetSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetScheduleResponse" message="tns:IRegistrationService_GetSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ListDepartments" message="tns:IRegistrationService_ListDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ListDepartmentsResponse" message="tns:IRegistrationService_ListDepartments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistrationService" type="tns:IRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterForCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/RegisterForCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoldCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/HoldCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/DropCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStudentSchedule">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListStudentSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStudentBookmarks">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListStudentBookmarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStudents">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCourses">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCourseInformation">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListCourseInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ScheduleCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/CancelCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ModifyCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEnrolledStudents">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListEnrolledStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSchedules">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPeople">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOpenCourses">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListOpenCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFullCourses">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListFullCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/RemoveStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCourseSchedule">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListCourseSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseSchedule">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetCourseSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDepartments">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ListDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="BasicHttpBinding_IRegistrationService" binding="tns:BasicHttpBinding_IRegistrationService">
      <soap:address location="http://localhost/registrationdataservice/RegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>